.card {
  width: 259px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 10px;
  border-radius: 8px;
  padding: 35px 20px;
}

.card img {
  width: 100%;
  height: auto;
}

.card p {
  margin-top: 27px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.progress-container {
  /* margin-top: 14px; */
  width: 225px;
}

.progress-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -14px;
  font-size: 12px;
  color: #666;
  margin-top: 3px;
}

.cup-icosn {
  width: 20px !important;
  height: 20px !important;
  margin: -5px 0 0 236px;
}
.cup-icon {
  width: 20px !important;
  height: 20px !important;
  margin: -15px 0 0 236px;
}

.progress-bar {
  background-color: #004C9E;
  height: 5px;
  border-radius: 3px;
}

.progress-bar-incomplete {
  background-color: #BDBDBD;
  margin-bottom: -16px;
}

.progress-bar-complete {
  background-color: #004C9E;
}

.see-more {
  margin-top: 10px;
}

.see-more-link {
  font-size: 16px;
  font-weight: bold;
  color: #0056b3;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: 27px;
}

.arrow-icon {
  width: 20px !important;
  height: 20px !important;
  margin-left: 5px;
  margin-top: 2px;
}
