.painel-gestao-container {
  display: flex;
  flex-direction: row;
}

.management-panel {
  flex-grow: 1;
}

.management-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.management-header h1 {
  font-size: 24px;
  color: #333;
}

.management-actions {
  display: flex;
  gap: 10px;
  margin: 30px 20px 38px 20px;
}

.btn {
  border: none;
  cursor: pointer;
}

.btn.primary {
  background-color: #6b6deb;
  color: white;
}

.btn.secondary {
  background-color: #eaefff;
  color: #6b6deb;
}

.table-responsive {
  overflow-x: auto;
}

.members-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.members-table th, .members-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.members-table th {
  background-color: #f0f0f0;
  color: #333;
}

.members-table td img {
  border-radius: 50%;
}

.members-table td .btn-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.members-table td .btn-icon svg {
  font-size: 20px;
  color: #6b6deb;
}

.members-table .status {
  padding: 5px 10px;
  border-radius: 12px;
  font-weight: bold;
  text-transform: capitalize;
}

.members-table .status.active {
  background-color: #d4f5d3;
  color: #2a8e2a;
}

.members-table .status.inactive {
  background-color: #f5d3d3;
  color: #e83a3a;
}

.search {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #484ad3;
  height: 74px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  width: 100%;
  max-width: 368px;
}

.search-icon {
  color: #333;
  font-size: 18px;
  margin-right: 10px;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 36px;
  margin-left: 20px;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-text {
  display: flex;
  flex-direction: column;
}

.profile-name {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-bottom: 0;
}

.profile-position {
  font-size: 10px;
  color: #eaefff;
  margin-top: 0;
}

.card-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}
