/* Estilos do container geral */
.header-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* Estilos do menu lateral */
.sidebar {
  background-color: #3c3c6e;
  width: 220px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.sidebar_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.logo {
  width: 40px;
  height: auto;
}

.sidebar_title {
  font-size: 20px;
  color: white;
  margin: 0;
  font-weight: bold;
}

.menu-items {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 15px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  gap: 10px;
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: #575ed8;
  border-radius: 5px;
}

.menu-icon {
  font-size: 18px;
}

.menu-item.active {
  background-color: #575ed8;
  border-radius: 5px;
}

/* Estilos do header */
.header-content {
  flex-grow: 1;
  background-color: #3c3c6e;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  height: 26px;
  border-bottom: red
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-button {
  background-color: transparent;
  border: 2px solid #fff;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.header-button:hover {
  background-color: white;
  color: #3c3c6e;
}

.header-icon {
  color: white;
  font-size: 24px;
}
